<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      					http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
      					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.lb.framework.usage"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:default-servlet-handler />
	
	<!-- 拦截器设置 -->
	<!-- ihome-framework-token.xml已经配置无需再配 -->
	<!-- <bean id="formTokenManager" class="com.lb.framework.web.form.SessionTokenManager"></bean> -->
	
    <mvc:interceptors>
    	<!-- 重构成了使用切面做表单防止重复提交 -->
    	<!-- <mvc:interceptor>
    		<mvc:mapping path="/**" />
	    	<bean id="formTokenInterceptor" class="com.lb.framework.web.form.FormTokenInterceptor">
				<property name="formTokenManager" >
					<ref bean="formTokenManager"/>
				</property>
			</bean>
		</mvc:interceptor> -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <!-- <mvc:exclude-mapping path="/admin/polling"/> -->
            <bean class="com.lb.framework.usage.interceptor.RequestInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
	<bean id="exceptionHandler"
		class="com.lb.framework.web.servlet.handler.IHomeHandlerExceptionResolver">
		<!-- order设置为1，可以拦截Spring处理@RequestParam的异常 -->
		<property name="order" value="1" />
		<property name="messageSource" ref="messageSource" />
		<property name="restService" value="false" />
		<property name="formTokenManager" ref="formTokenManager" />
	</bean>

	<!-- <bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass"
						value="org.springframework.web.servlet.view.JstlView" />
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="com.alibaba.fastjson.support.spring.FastJsonJsonView">
					<property name="contentType" value="application/json;charset=UTF-8" />
				</bean>
			</list>
		</property>
	</bean> -->
	
	<bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- <bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
	</bean>

	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath">
			<value>/template/</value>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="locale">zh_cn</prop>
				<prop key="number_format">0.##########</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
			</props>
		</property>
	</bean> -->

</beans>